*{margin:0;padding:0}
body{font-family: "Trebuchet MS";text-align: center;}
#container{width: 1200px;margin: 0 auto;}

/*HEADER*/
#header{width: 1200px;}
#header #logo{width: 400px;float: left;font-size: 30px;color: #990000;text-align: left;}
#header #logo a{color: #990000;text-decoration:none;}
#header #logo span#sublogo{font-size: 16px;}
#header #busca{width: 250px;float: right;margin-top: 10px;text-align: left;}
#header #busca #txt_busca{background-color: ;border: solid 1px #900;border-radius: 20px;padding: 3px;
                          color: #FFF;height: 25px;width: 200px;font-weight: bold;}
#header #busca #bt_busca{background-color: #900;border: solid 1px #900;padding: 2px;color: #FFF;}
#header #busca #lupa{position: absolute;margin-top: -25px;margin-left: 200px;}
/*FIM HEADER*/

/*CONTEUDO*/
#conteudo{width: 800px;clear: both;}
#menuLateral{width: 160px;text-align: left;padding-top: 20px;float: left;}
#menuLateral ul{font-size: 14px;list-style: none;}
#menuLateral ul li{padding: 3px 0;border-bottom: solid 1px #900;color: #900;}
#menuLateral ul li a{padding: 3px 0;color: #900;text-decoration: none;}
#conteudoAdmin{width: 600px;float: right;padding-top: 20px;text-align: left;font-size: 12px;}
#fix{clear: both;}
#carregar{margin-top:20px;}
.odd{background-color:#333;color:#fff;font-size:18px;}
.odd a{text-decoration:none;color:#FFF;}
.even{background-color:;color:#000;font-size:18px;}
.even a{text-decoration:none;color:#FFF;}
#pedidos table{font-size: 14px;}
#pedidos table tr td{border-bottom: solid 1px #F7F7F7;}
#pedidos thead{background-color: #900;color:#FFF;}
#dadosCliente table{font-size: 14px;}
#dadosCliente tr td{border-bottom: solid 1px #EFEFEF;}
#dadosCliente tr:first-child{background-color: #900;color: #FFF;padding:5px;}
#total{font-weight: bold;background-color: #EFEFEF;}
/*FIM CONTEUDO*/

span#ultimoLogin{color: #333;font-weight: bold;}

/*DIV OBRIGATORIO*/
.obrigatorio{margin-top: 10px;color: #900;font-weight: bold;}
/*FIM DIV OBRIGATORIO*/


/*FORM CATEGORIA*/
.formularioCadastro{width: 90%;margin-left: 20px;}
.form{background-color: ;padding:10px;font-size: 14px;}
.form .txt_field{padding: 4px;font-weight: bold;height: 25px;border: solid 1px #900;width: 300px;}
.formularioCadastro h2{font-size: 16px;}
.form .bt_sumbmit{background-color: #900;color:#FFF;padding: 2px;}
.mensagem{background-color: green;text-align: center;margin-top: 10px;padding:3px;color: #FFF;}
.erro{background-color: #900;text-align: center;margin-top: 10px;padding:3px;color: #FFF;}
/*FIM FORM CATEGORIA*/


/*FORM CADASTRO*/
.formularioCadastro{width: 93%;margin-left: 20px;}
.formCadastro{background-color: ;padding:10px;font-size: 14px;}
.formCadastro .txt_field{padding: 4px;font-weight: bold;height: 25px;border: solid 1px #900;width: 300px;}
.formCadastro .txt_field_menor{padding: 4px;font-weight: bold;height: 25px;border: solid 1px #900;width: 120px;}
.formCadastro .txt_field_maior{padding: 4px;font-weight: bold;height: 25px;border: solid 1px #900;width: 500px;}
.formCadastro select{width: 300px;border: solid 1px #900;}
.formularioCadastro h2{font-size: 16px;}
.formCadastro .bt_sumbmit{background-color: #900;color:#FFF;padding: 2px;}
.bt_sumbmit{background-color: #900;color:#FFF;padding: 2px;}
.mensagem{background-color: green;text-align: center;margin-top: 10px;padding:3px;color: #FFF;}
.erro{background-color: #900;text-align: center;margin-top: 10px;padding:3px;color: #FFF;}
.formCadastro label{display: block;}
/*FIM FORM CADASTRO*/



/*FORM ALTERAR*/
.formularioAlterar{width:800px;}
.formularioAlterar .cabecalho{text-align: center;font-size: 18px;font-weight: bold;}
.formularioAlterar tr td{font-size:20px;}
.formularioAlterar .input_text{width: 150px;border: solid 1px #900;}
.formularioAlterar .input_text2{width: 200px;border: solid 1px #900;}
.formularioAlterar .input_button{background-color: #900;color: #FFF;width: 100px;}
.formularioAlterar .txt_field_menor{padding: 4px;font-weight: lighter;height: 25px;border: solid 1px #900;width: 50px;}
.formularioAlterar .txt_field{padding: 4px;font-weight: lighter;height: 25px;border: solid 1px #900;width: 150px;font-weight: lighter;font-size: 18px;}
.formularioAlterar .select_field{width: 150px;font-weight: lighter;font-size: 18px;}
/*FIM FORM ALTERAR*/


/*FORM DELETAR*/
.formularioDeletar{width:900px;}
.formularioDeletar .cabecalho{text-align: center;font-size: 18px;font-weight: bold;}
.formularioDeletar tr td{border: solid 1px ;font-size:20px;}
.formularioDeletar .input_text{width: 150px;border: solid 1px #900;}
.formularioDeletar .input_text2{width: 200px;border: solid 1px #900;}
.formularioDeletar .input_button{background-color: #900;color: #FFF;width: 100px;}
.formularioDeletar .txt_field_menor{padding: 4px;font-weight: lighter;height: 25px;border: solid 1px #900;width: 50px;}
.formularioDeletar .txt_field{padding: 4px;font-weight: lighter;height: 25px;border: solid 1px #900;width: 150px;font-weight: lighter;font-size: 18px;}
.formularioDeletar .select_field{width: 150px;font-weight: lighter;font-size: 18px;}
/*FIM FORM DELETAR*/


/*ANIVERSARIANTES*/
#aniversariantes h2{color:#900;font-size: 20px;}
#aniversariantes table thead tr:first-child{background-color: #900;color: #FFF;font-size: 18px;}
#aniversariantes #sucesso{width: 800px;background-color: #008000; color:#FFF;padding: 3px;margin-top: 20px;font-size: 18px;}
#aniversariantes #erro{width: 800px;background-color: #900;color:#FFF;padding:3px;margin-top: 20px;font-size: 18px;}
/*ANIVERSARIANTES*/


/*FORM METAS*/
#metas{margin-top: 10px;}
#metas label{display:block;}
#resposta{margin-top: 20px;}
/*FIM FORM METAS*/

/*BEMVINDO*/    
#bemvindo{font-size: 16px;margin-top: 10px;color: #900;}
/*FIM BEMVINDO*/    


#rodape{text-align: center;font-size: 12px;color: #333;background-color: #900;margin-top: 20px;color: #FFF;padding: 3px;}